.App {
    
}
.header{
    font-weight: bolder;
    font-size: 25px;
    color: gray;
    padding: 10px 0px;
    text-decoration: underline;
}
hr{
    color: black;
}
body{
    /* background-image: url('./images/background/17973908.jpg');
    background-position: top;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat; */
}

.wrap-full-width{
    min-height: 90vh;
    width: 100%;
    
    /* opacity: 0.5; */

}
.content-wrapper{
    width: 92%;
    min-height: 100vh;
    margin: 0px auto;
    /* opacity: 0.9; */
}
.navbar{
    /* background-color: rgba(0,0,0,0.5) !important; */
}

.update-later{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
.update-later p{
    color: white;
    background-color: red;
    padding: 10px;
}